
li.unchecked{
    list-style: none;
}

li.unchecked::before {
    content: '';
    display: inline-block;
    height: 21px;
    width: 24px;
    background-image: url(uncheckedbox1.png);
}


li {
    list-style: none;
}
li.checked::before {
    content: '';
    display: inline-block;
    height: 21px;
    width: 32px;
    background-image: url(checked4.png);
}