@media (min-width: 992px) {
    main{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
        padding: 10px;
    }
    .block{
        padding:20px;
        color: black;
        font-size: 4em;
        font-weight:bold;
        text-align:center;
    }
    .block.block1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: red;
    }
    .block.block2{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: darkcyan;
    }
    .block.block3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: burlywood;
    }.block.block4{
         background-color: deeppink;
         grid-column-start: 2;
         grid-column-end: 3;
         grid-row-start: 3;
         grid-row-end: 4;
     }

}

@media (min-width: 772px) and (max-width: 992px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 10px;
    }
    .block{
        padding:20px;
        color: black;
        font-size: 4em;
        font-weight:bold;
        text-align:center;
    }
    .block.block1{
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: teal;
    }
    .block.block2{
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: mediumspringgreen;
    }
    .block.block3{
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: deeppink;
    }.block.block4{
         background-color: darkcyan;
         grid-row-start: 4;
         grid-row-end: 5;
     }

}

@media (min-width: 320px) and (max-width: 772px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 10px;
    }

    .block {
        padding: 20px;
        color: black;
        font-size: 4em;
        font-weight: bold;
        text-align: center;
    }

    .block.block1 {
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: teal;
    }

    .block.block2 {
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: mediumspringgreen;
    }

    .block.block3 {
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: mediumorchid;
    }

    .block.block4 {
        background-color: deeppink;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    @media (max-width: 760px) {
        section {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 20px;
            padding: 10px;
        }

        .item-2 {
            background: #33a8a5;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .item-3 {
            background: #30997a;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
        }

        .item-4 {
            background: #6a478f;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        .item-5 {
            background: #da6f2b;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        .item-7 {
            background: #e03f3f;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        .item-8 {
            background: #59a627;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        .item-9 {
            background: #4464a1;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }

    }

    section div {
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
        font-size: 3em;
    }

    @media (min-width: 760px) {
        section {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 20px;
            padding: 10px;
        }

        /* specific item styles */
        .item-1 {
            background: #b03532;
        }

        .item-2 {
            background: #33a8a5;
        }

        .item-3 {
            background: #30997a;
        }

        .item-4 {
            background: #6a478f;
        }

        .item-5 {
            background: #da6f2b;
        }

        .item-6 {
            background: #3d8bb1;
        }

        .item-7 {
            background: #e03f3f;
        }

        .item-8 {
            background: #59a627;
        }

        .item-9 {
            background: #4464a1;
        }

    }

}